<div>
	<img ng-src="{{pc.item.mediumImage}}" />
	<h3 id="sale-price">{{pc.item.salePrice | currency }}</h3>
	<p id="product-name">{{pc.item.name}}</p>
	<p class="rating">Customer Rating: {{pc.item.customerRating}}</p>
    <p class="rating">({{pc.item.numReviews}} reviews)</p>
	<img ng-src="{{pc.item.customerRatingImage}}" </div>
	<div id="btns">
		<button type="button" class="btn btn-primary" ng-click="pc.showDetails(pc.item.itemId)">Details</button>
		<button type="button" class="btn btn-primary" ng-click="pc.addToCart(pc.item)">Buy</button>
	</div>